@page "/game"

<PageTitle>DoggyLife | Game</PageTitle>

<MudDropContainer T="ImageItem" Items="_items" ItemsSelector="@((item, dropzone) => item.Identifier == dropzone)"
                  ItemDropped="ItemUpdated">
    <ChildContent>
        <MudDropZone T="ImageItem" Identifier="Room" @ondragover="@GetMousePosition">
            <MudPaper Elevation="0" Height="440px" Width="500px"
                      Style=@($"position: relative; background: transparent url({room}); background-size: 100%;" + " background-repeat: no-repeat")>
                <Dog ObjectX="@((int)mouseX)" ObjectY="@((int)mouseY)" ObjectInField="objectInField"/>
            </MudPaper>
        </MudDropZone>
        <MudDropZone T="ImageItem" Identifier="Dog Bar" Class="d-flex align-end justify-space-around mt-4"
                     Style="height: 80px; background: #4D3663; border:  10px double darkgoldenrod">
        </MudDropZone>
    </ChildContent>
    <ItemRenderer>
        <MudImage Src="@context.Image" Alt="object"
                  Style="@context.Style" Height="@context.Height">
        </MudImage>
    </ItemRenderer>
</MudDropContainer>
<p style="color: white; font-size: 2em">
    @($"mouseX:{mouseX} | mouseY: {mouseY}")
</p>

@code {
    private string room;
    private static float mouseX, mouseY;
    private static int objectiveX, objectiveY;
    private static bool objectInField;
    private static Dictionary<int, int[]> movementBoundaries;

    public Game()
    {
        room = "/images/room-1.svg";
        objectiveX = 220;
        objectiveY = 280;
        objectInField = false;
        movementBoundaries = new Dictionary<int, int[]>();

        for (int y = 350, x1 = 220, x2 = 220, xThrust = 2;
            y >= 200;
            y--, x1 += (xThrust * -1), x2 += xThrust)
        {
            movementBoundaries.Add(y, new[] { x1, x2 });
            if (y == 275)
            {
                xThrust = -2;
            }
        }
    }

    private static void GetMousePosition(MouseEventArgs e)
    {
        mouseX = (float)(e.OffsetX);
        mouseY = (float)(e.OffsetY);
    }

    private static string ToDotString(float number)
    {
        return number.ToString().Replace(",", ".");
    }

    private static void ItemUpdated(MudItemDropInfo<ImageItem> dropItem)
    {
        dropItem.Item.Identifier = dropItem.DropzoneIdentifier;
        
        if (dropItem.DropzoneIdentifier == "Room")
        {
            dropItem.Item.Style = $"position: absolute; top: {ToDotString(mouseY)}px; left: {ToDotString(mouseX)}px; ";
            dropItem.Item.Height = 25;
            objectInField = true;

            if (!(mouseY < 200) && !(mouseY > 350) && !(mouseX < movementBoundaries[(int)mouseY][0]) &&
                !(mouseX > movementBoundaries[(int)mouseY][1])) return;
            dropItem.Item.Identifier = "Dog Bar";
            objectInField = false;
        }
        
        dropItem.Item.Style = "";
        dropItem.Item.Height = 50;
    }

    private List<ImageItem> _items = new()
    {
        new ImageItem()
        {
            Identifier = "Dog Bar",
            Image = "images/dogbar/ball.svg",
            Style = "",
            Height = 50
        },
        new ImageItem()
        {
            Identifier = "Dog Bar",
            Image = "images/dogbar/food-plate.png",
            Style = "",
            Height = 50
        }
    };

    public class ImageItem
    {
        public string? Identifier { get; set; }
        public string? Image { get; init; }
        public string? Style { get; set; }
        public int? Height { get; set; }
    }

}